extends ../layouts/default

block content

	.row
		.col-lg-12
			h1.page-header Chart

	
	.well
		.row
			.col-lg-6
				.datefrom.input-group.date
					input.form-control(type='text')
					span.input-group-addon
						i.glyphicon.glyphicon-th
			.col-lg-6
				.dateto.input-group.date
					input.form-control(type='text')
					span.input-group-addon
						i.glyphicon.glyphicon-th

	.row
		.col-lg-8
			h2 Hourly chart
			#highcharts-basic-column-chart
				
		.col-lg-4
				h2 Notifications
				.list-group
					a.list-group-item(href='#')
						i.fa.fa-play.fa-fw
						|  Dishwasher on
						span.pull-right.text-muted.small
							em 4 minutes ago
					a.list-group-item(href='#')
						i.fa.fa-stop.fa-fw
						|  Heater
						span.pull-right.text-muted.small
							em 12 minutes ago
					a.list-group-item(href='#')
						i.fa.fa-play.fa-fw
						|  Heater
						span.pull-right.text-muted.small
							em 27 minutes ago
					a.list-group-item(href='#')
						i.fa.fa-link.fa-fw
						|  Plug 7 connected again
						span.pull-right.text-muted.small
							em 43 minutes ago
					a.list-group-item(href='#')
						i.fa.fa-unlink.fa-fw
						|  Plug 7 disconnected
						span.pull-right.text-muted.small
							em 11:32 AM
					a.list-group-item(href='#')
						i.fa.fa-bolt.fa-fw
						|  Server Crashed!
						span.pull-right.text-muted.small
							em 11:13 AM
					a.list-group-item(href='#')
						i.fa.fa-warning.fa-fw
						|  Server Not Responding
						span.pull-right.text-muted.small
							em 10:57 AM
					a.list-group-item(href='#')
						i.fa.fa-shopping-cart.fa-fw
						|  New Order Placed
						span.pull-right.text-muted.small
							em 9:49 AM
					a.list-group-item(href='#')
						i.fa.fa-money.fa-fw
						|  Payment Received
						span.pull-right.text-muted.small
							em Yesterday

block js
	script(src='/js/highcharts-column.js')
	script(src='/js/datepicker.js')