extends ../layouts/default

// -block sidenav
	.navbar-default.sidebar(role='navigation')
		.sidebar-nav.navbar-collapse
			ul#side-menu.nav
				li
					a(href='/')
						i.fa.fa-dashboard.fa-fw
						|  Dashboard
				li
					a(href='#')
						i.fa.fa-bar-chart-o.fa-fw
						|  Charts
						span.fa.arrow
					ul.nav.nav-second-level
						li
							a(href='/charthourly') Hourly
						li
							a(href='#') Daily
						li
							a(href='#') Monthly
						li
							a(href='#') Yearly
					// /.nav-second-level
				li
					a(href='#')
						i.fa.fa-table.fa-fw
						|  Tables
						span.fa.arrow
					ul.nav.nav-second-level
						li
							a(href='#') Hourly
						li
							a(href='#') Daily
						li
							a(href='#') Monthly
						li
							a(href='#') Yearly
				li
					a(href='#')
						i.fa.fa-check-square-o.fa-fw
						|  Status
				li
					a(href='#')
						i.fa.fa-wrench.fa-fw
						|  Devices

block content
	.row
		.col-lg-12
			h1.page-header Dashboard
			
		// /.col-lg-12
	// /.row
	.row
		.col-lg-3.col-md-6
			.panel.panel-primary
				.panel-heading
					.row
						.col-xs-3
							i.fa.fa-bolt.fa-5x
						.col-xs-9.text-right
							.huge 156 kWh
							div Total Consumption!
				a(href='#')
					.panel-footer
						span.pull-left View Details
						span.pull-right
							i.fa.fa-arrow-circle-right
						.clearfix
		.col-lg-3.col-md-6
			.panel.panel-red
				.panel-heading
					.row
						.col-xs-3
							i.fa.fa-power-off.fa-5x
						.col-xs-9.text-right
							.huge 68 kWh
							div Highest consumer: Livingroom!
				a(href='#')
					.panel-footer
						span.pull-left View Details
						span.pull-right
							i.fa.fa-arrow-circle-right
						.clearfix
		.col-lg-3.col-md-6
			.panel.panel-green
				.panel-heading
					.row
						.col-xs-3
							i.fa.fa-link.fa-5x
						.col-xs-9.text-right
							.huge 10/12
							div Connected!
				a(href='#')
					.panel-footer
						span.pull-left View Details
						span.pull-right
							i.fa.fa-arrow-circle-right
						.clearfix
		.col-lg-3.col-md-6
			.panel.panel-yellow
				.panel-heading
					.row
						.col-xs-3
							i.fa.fa-warning.fa-5x
						.col-xs-9.text-right
							.huge 4
							div Notifications!
				a(href='#')
					.panel-footer
						span.pull-left View Details
						span.pull-right
							i.fa.fa-arrow-circle-right
						.clearfix
		// /.row
		.row
			.col-lg-8
				.panel.panel-default
					.panel-heading
						i.fa.fa-bar-chart-o.fa-fw
						|  Latest Total Consumption
						
					// /.panel-heading
					.panel-body
						#highcharts-basic-column-chart
						a.btn.btn-default.btn-block(href='#') View Details
					// /.panel-body
				// /.panel
				.panel.panel-default
					.panel-heading
						i.fa.fa-bar-chart-o.fa-fw
						|  Livingroom Consumption This week
						
					// /.panel-heading
					.panel-body
						#highcharts-stacked-bar-chart
						a.btn.btn-default.btn-block(href='#') View Details
					// /.panel-body
				// /.panel
				
				.panel.panel-default
					.panel-heading
						i.fa.fa-clock-o.fa-fw
						|  Responsive Timeline
					// /.panel-heading
					.panel-body
						ul.timeline
							li
								.timeline-badge
									i.fa.fa-bar-chart-o
								.timeline-panel
									.timeline-heading
										h4.timeline-title Total today!
										p
											small.text-muted
												i.fa.fa-clock-o
												|  1 hour ago
									.timeline-body
										p
											| The total energy consumption for your household today from 06:00 to 22:00 was 56 kWh
										hr
										button.btn.btn-primary(type='button') More details
							li.timeline-inverted
								.timeline-badge.warning
									i.fa.fa-home
								.timeline-panel
									.timeline-heading
										h4.timeline-title Afternoon
										p
											small.text-muted
												i.fa.fa-clock-o
												|  5 hours ago
									.timeline-body
										p
											| Your afternoon consumption between 15:00 to 18:00 was 23 kWh
							li
								.timeline-badge.danger
									i.fa.fa-sign-in
								.timeline-panel
									.timeline-heading
										h4.timeline-title Welcome home!
										p
											small.text-muted
												i.fa.fa-clock-o
												|  8 hours ago
									.timeline-body
										p
											| Since you left this morning your household has consumed 22 kWh
							li.timeline-inverted
								.timeline-panel
									.timeline-heading
										h4.timeline-title Good job!
										p
											small.text-muted
												i.fa.fa-clock-o
												|  12 hours ago
									.timeline-body
										p
											| Your houshold consumed 12% less energy during the day, compare to yesterday. Maybe you turned of more appliances before you left?
							li
								.timeline-badge.info
									i.fa.fa-sign-out
								.timeline-panel
									.timeline-heading
										h4.timeline-title Leaving home
										p
											small.text-muted
												i.fa.fa-clock-o
												|  14 hours ago
									.timeline-body
										p
											| When you left your home this morning your consumption went from 12 kWh to 4 kWh
										
							li
								.timeline-panel
									.timeline-heading
										h4.timeline-title Congratulations!
										p
											small.text-muted
												i.fa.fa-clock-o
												|  14 hours ago
									.timeline-body
										p
											| This morning consumed 15% less energy than yesterday!
							li.timeline-inverted
								.timeline-badge.success
									i.fa.fa-coffee
								.timeline-panel
									.timeline-heading
										h4.timeline-title Good morning!
										p
											small.text-muted
												i.fa.fa-clock-o
												|  16 hours ago
									.timeline-body
										p
											| This morning between 06:00 and 08:00 you consumed 12 kWh mainly hot water and kitchen. 
					// /.panel-body
				// /.panel

			// /.col-lg-8
			.col-lg-4
				.panel.panel-default
					.panel-heading
						i.fa.fa-bell.fa-fw
						|  Notifications Panel
					// /.panel-heading
					.panel-body
						.list-group
							a.list-group-item(href='#')
								i.fa.fa-play.fa-fw
								|  Dishwasher on
								span.pull-right.text-muted.small
									em 4 minutes ago
							a.list-group-item(href='#')
								i.fa.fa-stop.fa-fw
								|  Heater
								span.pull-right.text-muted.small
									em 12 minutes ago
							a.list-group-item(href='#')
								i.fa.fa-play.fa-fw
								|  Heater
								span.pull-right.text-muted.small
									em 27 minutes ago
							a.list-group-item(href='#')
								i.fa.fa-link.fa-fw
								|  Plug 7 connected again
								span.pull-right.text-muted.small
									em 43 minutes ago
							a.list-group-item(href='#')
								i.fa.fa-unlink.fa-fw
								|  Plug 7 disconnected
								span.pull-right.text-muted.small
									em 11:32 AM
							a.list-group-item(href='#')
								i.fa.fa-bolt.fa-fw
								|  Server Crashed!
								span.pull-right.text-muted.small
									em 11:13 AM
							a.list-group-item(href='#')
								i.fa.fa-warning.fa-fw
								|  Server Not Responding
								span.pull-right.text-muted.small
									em 10:57 AM
							a.list-group-item(href='#')
								i.fa.fa-shopping-cart.fa-fw
								|  New Order Placed
								span.pull-right.text-muted.small
									em 9:49 AM
							a.list-group-item(href='#')
								i.fa.fa-money.fa-fw
								|  Payment Received
								span.pull-right.text-muted.small
									em Yesterday
							// /.list-group
							a.btn.btn-default.btn-block(href='#') View All Alerts
							
					// /.panel-body
				// /.panel
				.panel.panel-default
					.panel-heading
						i.fa.fa-bar-chart-o.fa-fw
						|  Devices Energy Consumption
					.panel-body
						#highcharts-circle-chart
						a.btn.btn-default.btn-block(href='#') View Details
							
block js
	script(src='/js/highcharts-column.js')
	script(src='/js/highcharts-circle.js')
	script(src='/js/highcharts-stacked-bar.js')